//typography variables
$SourceSansPro-ExtraLight: 'SourceSansPro-ExtraLight';
$SourceSansPro-Light: 'SourceSansPro-Light';
$SourceSansPro-Black: 'SourceSansPro-Black';
$SourceSansPro-LightIt: 'SourceSansPro-LightIt';
$SourceSansPro-Bold: 'SourceSansPro-Bold';
$SourceSansPro-Semibold: 'SourceSansPro-Semibold';
$SourceSansPro-ExtraLightIt: 'SourceSansPro-ExtraLightIt';
$SourceSansPro-BlackIt: 'SourceSansPro-BlackIt';
$SourceSansPro-Regular: 'SourceSansPro-Regular';
$SourceSansPro-SemiboldIt: 'SourceSansPro-SemiboldIt';
$SourceSansPro-BoldIt: 'SourceSansPro-BoldIt';
$SourceSansPro-It: 'SourceSansPro-It';



$Lato-Light: 'Lato-Light';
$Lato-Semibold: 'Lato-Semibold';
$Lato-LightItalic: 'Lato-LightItalic';
$Lato-Medium: 'Lato-Medium';
$Lato-Bold: 'Lato-Bold';
$Lato-BlackItalic: 'Lato-BlackItalic';
$Lato-HairlineItalic: 'Lato-HairlineItalic';
$Lato-MediumItalic: 'Lato-MediumItalic';
$Lato-HeavyItalic: 'Lato-HeavyItalic';
$Lato-BoldItalic: 'Lato-BoldItalic';
$Lato-Regular: 'Lato-Regular';
$Lato-Italic: 'Lato-Italic';
$Lato-Black: 'Lato-Black';
$Lato-Thin: 'Lato-Thin';
$Lato-Heavy: 'Lato-Heavy';
$Lato-SemiboldItalic: 'Lato-SemiboldItalic';
$Lato-Hairline: 'Lato-Hairline';
$Lato-ThinItalic: 'Lato-ThinItalic';

//Primary colors

$white: #ffffff;
$off-white: #f4f4f4;
$primary:#534ae6;

//secondary colors

$grey:#7b7f90;
$gold:#ffd45f;
$pastel-blue: #9ab0fa;

//text colors

$text-primary:#5F5F60;
$black: #000000;

// Mood Colors
$danger: #ff1554;

// $success: #45e0aa;
// $danger: #e04551;
// $warning: #ffde52;
// $info: #4a73fa;


//secondary colors




//font-sizes:
$basefont: 16;
$h1: #{46 / $basefont}rem;
$h2: #{32 / $basefont}rem;
$h3: #{24 / $basefont}rem;
$h4: #{20 / $basefont}rem;
$h5: #{18 / $basefont}rem;
$h6: #{14 / $basefont}rem;
$paragraph: #{16 / $basefont}rem;
$small: #{12 / $basefont}rem;


